body {
    margin: 0px;
}
.container {
    margin: 0px 166px;
}

.header {
    background-image: url(/images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 50px;
}

.nav-item {
    margin-right: 25px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.15s linear;
}

.nav-item:hover {
    color: red;
}

.cart {
    position: relative;
    padding-right: 10px;
    height: 50px;
    border-right: 1px solid #000;
}

.cart-img {
    position: absolute;
    top: 7px;
}

.num {
    color: #000;
    text-decoration: none;
    transition: color 0.15s linear;
}

.num:hover {
    color: red;
}

.phone-text {
    color: #000;
    font-size: 14px;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    padding: 14px 18px;
    text-decoration: none;
    background-color: #3b1414;
    color: #fff;
    transition: background-color 0.15s linear;
}

.button:hover {
    background-color: #7e2626;
}

.header-down {
    position: relative;
}

.header-title {
    /* font-family: ;
    font-size: ;
    font-weight: ; */
    position: absolute;
    left: 0;
    margin-top: 222px;
    margin-bottom: 12px;
    text-align: center;
    color: #000;
    font-size: 50px;
}

.header-subtitle {
    font-size: 40px;
}

.header-suptitle {
    font-size: 30px;
    color: #000;
}

.header-suptitle:after {
    content: "";
    position: absolute;
    top: 123px;
    left: 31px;
    height: 2px;
    width: 61px;
    background-color: #000;
}

.header-suptitle:before {
    content: "";
    position: absolute;
    top: 123px;
    left: 263px;
    height: 2px;
    width: 61px;
    background-color: #000;
}

.header-button {
    padding: 14px 28px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    background-color: #3b1414;
    transition: background-color 0.15s linear;
}

.header-button:hover {
    background-color: #7e2626;
}

.card {
    width: 349px;
    margin-right: 31px;
    margin-top: -80px;
    padding: 10px 10px;
    background-color: #fff;
    box-shadow: 10px 10px 40px 20px #0000001A;
}

.cards-holder {
    display: flex;
    justify-content: center;
}

.card-image {
    padding-top: 31px;
    display: flex;
    justify-content: center;
}

.card-title {
    font-size: 26px;
        /* font-family: ;
    font-weight: ; */
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.card-title span {
    color: goldenrod;
    margin-left: 4px;
}

.cart-desc {
    font-size: 26px;
    color: rgb(136, 128, 119);
        /* font-family: ;
    font-weight: ; */
    display: flex;
    text-align: center;
}

.history {
    margin-top: 166px;
}

.history-holder {
    display: flex;
    justify-content: space-between;
}

.history-title {
    text-align: center;
    width: 444px;
    margin-top: 21px;
    font-size: 50px;
            /* font-family: ;
    font-weight: ; */
}

.history-title span {
    color: goldenrod;

}

.history-desc {
    text-align: center;
    width: 444px;
    font-size: 16px;
    color: rgb(136, 128, 119);
}

.history-number {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
    width: 444px;
}

.number-item {
    text-align: center;
    margin-right: 60px;
    font-size: 40px;
    color: goldenrod;
}

.number-item span {
    display: block;
    color: #000;
}

.history-images {
    position: relative;
}

.images-1 {
    position: absolute;
    top: 54px;
    left: 211px;
    /* z-index: ;
    box-shadow: ; */
}

.images-2 {
    position: absolute;
    top: -92px;
    left: 383px;
        /* z-index: ;
    box-shadow: ; */
}

.images-3 {
    position: absolute;
    top: 241px;
    left: 486px;
        /* z-index: ;
    box-shadow: ; */
}